@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
  margin: 0px;
  padding: 0px;  
  
}

body {
    background-color: black;
    color: #F6F6F6;
    box-sizing: border-box;
}

.cabecalho {
    padding: 0% 15%;
    padding-top: 2%;
}

.cabecalho__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: #22D4FD;
    font-family: 'jetBrains Mono', monospace;
    font-weight: 800;
    font-size: 18px;

}

.apresentacao{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    column-gap: 20vh;
    padding: 8% 15%;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}   


.apresentacao__conteudo__titulo {
    font-family: 'jetBrains Mono', monospace;
    font-size: 30px;
}

.apresentacao__conteudo__texto {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: 18px;
}

.apresentacao__conteudo__links {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;

}

.apresentacao__conteudo__links__subtitulo {
    font-family: 'jetBrains Mono', monospace;
    font-size: 20px;
}

.apresentacao__conteudo__links__link {
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    font-weight: 600;
    color: #F6F6F6;

    width: 378px;
    padding: 16px 0px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;

    transition: 0.3s;
}

.apresentacao__conteudo__links__link:hover {
    background-color: #181818;
    width: 400px;
}


.destaque-titulo {
    color: #22D4FD;
}

.destaque-paragrafo {
    color:  #22D4FD;
}

.destaque-paragrafo:hover   {
    color: #5ae1ff;
}

.imagem-codigo{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    transition: 0.3s;
}

.imagem-codigo:hover{
    border-radius: 60px;
    
}

.rodape{
    color: black;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    font-weight: 600;

    background-color: #22D4FD;
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    justify-content: center;
}