@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=JetBrains+Mono:wght@500&display=swap');
:root {
    --cor-fundo: #183A1D;
    --cor-secundaria: #FEFBE9;
    --cor-terciaria: #F0A04B;
    --cor-quartenaria: #fcb366;
    --cor-hover-botao: #215028;

    --fonte-principal: 'jetBrains Mono', monospace;
}

* {
  margin: 0px;
  padding: 0px;  
  
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 0% 15%;
    padding-top: 2%;
}

.cabecalho__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5%;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 18px;

}

.apresentacao{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content:center;
    column-gap: 20vh;
    padding: 5% 15%;
    min-height: 75vh;
    height: auto;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}   


.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 30px;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 18px;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto a:hover{
    text-decoration: underline;
}


.apresentacao__conteudo__links {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;

}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.apresentacao__conteudo__links__link {
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-secundaria);

    width: 378px;
    padding: 16px 0px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;

    transition: 0.3s;
}

.apresentacao__conteudo__links__link:hover {
    background-color: var(--cor-hover-botao);
    width: 400px;
}


.destaque-titulo {
    color: var(--cor-terciaria);
}

.destaque-paragrafo {
    color:  var(--cor-terciaria);
}

.destaque-paragrafo:hover   {
    color: var(--cor-quartenaria);
}

.imagem-codigo{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    transition: 0.3s;
}

.imagem-codigo:hover{
    border-radius: 60px;
    
}

.rodape{
    
    color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 600;

    background-color: var(--cor-terciaria);
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    justify-content: center;
}